@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Catamaran:wght@300;400;500;700;800&family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

header {
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4vw;
  z-index: 5; }
  header h1 .logo {
    width: 90px;
    height: 45px;
    position: relative; }
    header h1 .logo span {
      display: block;
      font: 25px/1 'Abril Fatface';
      color: #f05037;
      letter-spacing: 1px; }
      header h1 .logo span:nth-of-type(1) {
        position: absolute;
        right: 0px;
        top: 0px; }
      header h1 .logo span:nth-of-type(2) {
        position: absolute;
        left: 0px;
        bottom: 0px; }
  header #gnb {
    display: flex; }
    header #gnb li {
      display: inline-block;
      position: relative;
      margin: 12px 40px;
      font: 700 18px/1 'Catamaran';
      color: #111;
      transition: 0.5s; }
      header #gnb li:hover {
        color: #e841dc; }
      header #gnb li .active::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: #222;
        position: absolute;
        bottom: -6px;
        left: 0px; }

footer {
  width: 100%;
  height: 50px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 12px/1 'Arsenal';
  color: #fff;
  letter-spacing: 2px; }

#visual {
  width: 100%;
  height: 100vh;
  background: #e2d0c9;
  position: relative;
  overflow: hidden; }
  #visual section {
    width: 100%;
    height: 400%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s; }
    #visual section article {
      width: 100%;
      height: 25%;
      position: relative;
      top: 0;
      left: 0;
      padding: 15vh 10vw; }
      #visual section article .panel {
        width: 100%;
        height: 100%;
        position: relative; }
        #visual section article .panel video {
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0; }
        #visual section article .panel .vidOri {
          width: 100%;
          height: 100%;
          filter: contrast(1.1) saturate(1.1) brightness(0.9);
          z-index: 1; }
        #visual section article .panel .vidShadow {
          width: 100%;
          height: 100%;
          transform: translate(1%, 8%);
          box-shadow: 5px 5px 20px rgba(226, 208, 201, 0.2); }
          #visual section article .panel .vidShadow video {
            width: 95%;
            height: 95%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: blur(20px) brightness(1.4);
            opacity: 0.5; }
        #visual section article .panel .inner {
          width: 93%;
          height: 100%;
          position: absolute;
          left: 7%;
          top: 0;
          z-index: 3; }
          #visual section article .panel .inner .txt {
            position: absolute;
            left: 0;
            top: 32%; }
            #visual section article .panel .inner .txt h2 {
              font: 700 130px/1 'Catamaran';
              color: #fff;
              letter-spacing: 1px;
              text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
              margin-bottom: 10px; }
            #visual section article .panel .inner .txt span {
              display: block;
              font: 700 30px/1 'Catamaran';
              color: #fff;
              text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); }
          #visual section article .panel .inner .view {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: absolute;
            left: 0;
            bottom: 15%; }
            #visual section article .panel .inner .view .plusBtn {
              text-indent: -999px;
              width: 48px;
              height: 48px;
              border-radius: 50%;
              background: #fff;
              margin-right: 14px;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
              position: relative;
              transition: 0.5s; }
              #visual section article .panel .inner .view .plusBtn::before {
                content: '';
                display: block;
                width: 40%;
                height: 2px;
                background: #bbb;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); }
              #visual section article .panel .inner .view .plusBtn::after {
                content: '';
                display: block;
                width: 2px;
                height: 40%;
                background: #bbb;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); }
            #visual section article .panel .inner .view p {
              font: 400 19px/1 'Catamaran';
              color: #fff;
              text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); }
            #visual section article .panel .inner .view:hover .plusBtn {
              transform: rotate(180deg); }
  #visual .deco_left {
    width: calc(70vh*0.8);
    position: absolute;
    top: 22vh;
    left: 7.5vw;
    display: flex;
    justify-content: space-between;
    transform: rotate(90deg);
    transform-origin: left center; }
    #visual .deco_left p {
      font: 800 22px/1 'Catamaran';
      color: #333; }
    #visual .deco_left span {
      font: 800 18px/1 'Catamaran';
      color: #333;
      opacity: 0.3; }
  #visual .deco_right {
    position: absolute;
    top: 21vh;
    right: 6.5vw;
    transform: rotate(90deg);
    transform-origin: left center; }
    #visual .deco_right p {
      display: inline-block;
      width: 30px;
      position: relative;
      font: 700 22px/1 'Catamaran';
      color: #333; }
      #visual .deco_right p::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        background: #333; }
  #visual .btns {
    position: absolute;
    bottom: 17.5vh;
    right: 7.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 0px; }
    #visual .btns::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #bdee1b;
      position: absolute;
      top: 0;
      left: -5px;
      opacity: 0.7; }
    #visual .btns .btnUp {
      font-size: 16px;
      color: #333;
      cursor: pointer;
      margin-bottom: 7px;
      transition: 0.5s;
      z-index: 5; }
      #visual .btns .btnUp:hover {
        transform: translateY(-5px); }
      #visual .btns .btnUp.first {
        color: #666;
        opacity: .5; }
    #visual .btns span {
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #333;
      margin-bottom: 5px;
      opacity: 0.6;
      z-index: 5; }
    #visual .btns .btnDown {
      font-size: 16px;
      color: #333;
      cursor: pointer;
      transition: 0.5s;
      z-index: 5; }
      #visual .btns .btnDown:hover {
        transform: translateY(5px); }
      #visual .btns .btnDown.last {
        color: #666;
        opacity: .5; }

section.market {
  display: none;
  width: 100%;
  min-height: 500px;
  background: #fff; }
  section.market .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }

.content {
  min-height: 100vh; }
  .content .titBanner {
    width: 100%;
    height: 350px;
    position: relative;
    background-color: #e2d0c9; }
    .content .titBanner h2 {
      font: 700 60px/1 'Catamaran';
      color: #151515;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1; }
    .content .titBanner img {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      opacity: 0.5;
      filter: saturate(0.1) brightness(1.3) contrast(2); }
    .content .titBanner::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #e2d0c9;
      opacity: 0.5; }
  .content .inner {
    width: 1180px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative; }

@media screen and (max-width: 1179px) {
  .content .inner {
    width: 100%;
    padding: 50px 20px; } }
.about .inner .intro {
  width: 100%;
  margin-bottom: 80px;
  position: relative; }
  .about .inner .intro h3 {
    font: 500 18px/1 'Noto Sans KR';
    color: #222;
    margin-bottom: 50px; }
  .about .inner .intro::after {
    content: '';
    display: block;
    clear: both; }
  .about .inner .intro .left {
    width: 50%;
    float: left; }
    .about .inner .intro .left h4 {
      font: 700 38px/1.4 'Catamaran';
      color: #111;
      margin-bottom: 20px; }
    .about .inner .intro .left p {
      font: 400 16px/1.5 'Noto Sans KR';
      color: #111; }
  .about .inner .intro .right {
    width: 50%;
    float: right;
    padding: 0 50px; }
    .about .inner .intro .right .wrap {
      margin-bottom: 50px; }
      .about .inner .intro .right .wrap h4 {
        font: bold 18px/1 'Catamaran';
        color: #111;
        margin-bottom: 18px; }
      .about .inner .intro .right .wrap p {
        font: 300 15px/1.4 'Noto Sans KR';
        color: #111; }
.about .inner .values {
  width: 100%;
  margin-bottom: 50px; }
  .about .inner .values h3 {
    font: 700 28px/1 'Catamaran';
    color: #111;
    margin-bottom: 30px; }
  .about .inner .values .wrap {
    width: 100%;
    height: 600px;
    display: flex;
    z-index: 1; }
    .about .inner .values .wrap article {
      flex: 1;
      padding: 70px 40px 100px;
      opacity: 0.6;
      transition: 1s;
      position: relative;
      z-index: 1; }
      .about .inner .values .wrap article .txt {
        width: 100%;
        height: 100%;
        border-top: 3px solid #e841dc;
        transition: 0.5s; }
        .about .inner .values .wrap article .txt span {
          display: inline-block;
          margin-top: 15px;
          font: 500 15px/1.2 'Noto Sans KR';
          color: #555; }
        .about .inner .values .wrap article .txt h4 {
          padding-top: 30px;
          font: 500 1vw/1.1 'Catamaran';
          color: #111;
          letter-spacing: 1px;
          margin-bottom: 30px;
          transition: 1s; }
        .about .inner .values .wrap article .txt .subtitle {
          font: 400 22px/1.4 'Noto Sans KR';
          color: #111;
          margin-bottom: 50px;
          transition: 0.5s; }
        .about .inner .values .wrap article .txt .arrow {
          width: 32px;
          height: 3px;
          background: #111;
          position: relative;
          transition: 0.5s; }
          .about .inner .values .wrap article .txt .arrow::after {
            content: '';
            display: block;
            width: 14px;
            height: 3px;
            background: #111;
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(40deg);
            transform-origin: right center; }
        .about .inner .values .wrap article .txt p {
          font: 300 15px/1.6 'Noto Sans KR';
          color: #111;
          display: none;
          opacity: 0;
          transition: 0.5s; }
      .about .inner .values .wrap article::before {
        content: '';
        display: block;
        width: 100%;
        height: 90%;
        background: #fff;
        z-index: -1;
        position: absolute;
        top: 150px;
        left: 0;
        opacity: 0;
        transition: 1s; }
      .about .inner .values .wrap article:hover {
        flex: 1.5;
        opacity: 1;
        z-index: 2; }
        .about .inner .values .wrap article:hover .txt {
          border-top: 3px solid #f05037; }
          .about .inner .values .wrap article:hover .txt h4 {
            font-size: 1.5vw;
            padding-top: 20px;
            margin-bottom: 22px; }
          .about .inner .values .wrap article:hover .txt .subtitle {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px; }
          .about .inner .values .wrap article:hover .txt .arrow {
            display: none; }
          .about .inner .values .wrap article:hover .txt p {
            display: block;
            opacity: 1; }
        .about .inner .values .wrap article:hover::before {
          top: 0px;
          opacity: 0.3; }
.about .inner .department {
  width: 100%;
  min-height: 500px; }
  .about .inner .department .divi_tree {
    width: 100%;
    position: relative; }
    .about .inner .department .divi_tree li .ceo {
      text-align: center;
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
      .about .inner .department .divi_tree li .ceo > p {
        font: 500 16px/1 'Noto Sans KR';
        color: #111;
        margin-bottom: 5px; }
      .about .inner .department .divi_tree li .ceo > span {
        font: 700 26px/1 'Noto Sans KR';
        color: #111;
        letter-spacing: 1px; }
      .about .inner .department .divi_tree li .ceo::after {
        content: '';
        display: block;
        width: 2px;
        height: 40px;
        position: absolute;
        top: 70px;
        left: 50%;
        margin-left: -1px;
        background: #111; }
    .about .inner .department .divi_tree li ul {
      width: 100%;
      margin-top: 90px; }
      .about .inner .department .divi_tree li ul::after {
        content: '';
        display: block;
        clear: both; }
      .about .inner .department .divi_tree li ul li {
        width: calc((100% - 40px) / 3);
        margin: 0px 20px 20px 0px;
        float: left; }
        .about .inner .department .divi_tree li ul li .member {
          width: 100%;
          border: 1px solid #444;
          padding: 25px 20px; }
          .about .inner .department .divi_tree li ul li .member .wrap {
            width: 100%;
            padding-bottom: 15px;
            border-bottom: 1px solid #444;
            margin-bottom: 15px; }
            .about .inner .department .divi_tree li ul li .member .wrap::after {
              content: '';
              display: block;
              clear: both; }
            .about .inner .department .divi_tree li ul li .member .wrap .name {
              display: block;
              float: left;
              font: 500 18px/1 'Noto Sans KR';
              color: #111; }
            .about .inner .department .divi_tree li ul li .member .wrap .depart {
              display: block;
              float: right;
              font: 300 15px/1 'Noto Sans KR';
              color: #111; }
          .about .inner .department .divi_tree li ul li .member .num {
            display: inline-block;
            font: 300 15px/1 'Noto Sans KR';
            color: #222;
            margin-bottom: 10px; }
          .about .inner .department .divi_tree li ul li .member > p {
            font: 300 14px/1.5 'Noto Sans KR';
            color: #222; }
        .about .inner .department .divi_tree li ul li:nth-of-type(3n) {
          margin: 0px 0px 20px; }

.gallery .inner .searchBox {
  width: 100%;
  position: relative;
  font-size: 0;
  margin-bottom: 80px; }
  .gallery .inner .searchBox .searchBar {
    width: 250px;
    height: 36px;
    border: 4px solid #151515;
    background: #151515;
    font: 400 15px/1 'Noto Sans KR';
    color: #ddd;
    padding: 12px; }
    .gallery .inner .searchBox .searchBar::placeholder {
      font: 300 15px/1 'Noto Sans KR';
      color: #aaa; }
  .gallery .inner .searchBox .btnSearch {
    width: 60px;
    height: 36px;
    border: 4px solid #151515;
    border-left: 1px solid #444;
    background: #151515;
    font: 400 15px/1 'Noto Sans KR';
    color: #d6d064;
    letter-spacing: 1px;
    cursor: pointer; }
.gallery .inner #wrap {
  width: 100%;
  position: relative; }
  .gallery .inner #wrap::after {
    content: '';
    display: block;
    clear: both; }
  .gallery .inner #wrap article {
    width: calc(100% / 4);
    padding: 12px;
    float: left; }
    .gallery .inner #wrap article .panel {
      width: 100%;
      background: #fff;
      box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3); }
      .gallery .inner #wrap article .panel .txt {
        width: 100%;
        padding: 15px; }
        .gallery .inner #wrap article .panel .txt p {
          font: 700 20px/1.4 'Catamaran';
          color: #151515;
          margin-bottom: 10px; }
        .gallery .inner #wrap article .panel .txt span {
          font: 300 14px/1.4 'Catamaran';
          color: #151515; }
      .gallery .inner #wrap article .panel a {
        display: block;
        width: 100%;
        font-size: 0;
        margin-top: 10px; }
        .gallery .inner #wrap article .panel a img {
          width: 100%;
          object-fit: contain; }
.gallery .inner .loading {
  width: 100px; }
.gallery aside {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  padding: 6vw 12vw;
  z-index: 9;
  display: none;
  opacity: 0; }
  .gallery aside.on {
    display: block;
    opacity: 1; }
  .gallery aside img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center; }
  .gallery aside .btnClose {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 0;
    text-indent: -999px;
    cursor: pointer; }
    .gallery aside .btnClose::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: top left;
      transform: rotate(45deg);
      margin-left: 25px; }
    .gallery aside .btnClose::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      top: 0;
      right: 0;
      transform-origin: top right;
      transform: rotate(-45deg);
      margin-left: -25px; }

@media screen and (max-width: 1179px) {
  .gallery .inner #wrap article {
    width: calc(100% / 3); } }
@media screen and (max-width: 649px) {
  .gallery .inner #wrap article {
    width: calc(100% / 2); } }
@media screen and (max-width: 539px) {
  .gallery .inner .searchBox .searchBar {
    width: 180px;
    font-size: 14px; }
  .gallery .inner .searchBox .btnSearch {
    width: 70px;
    font-size: 14px; }
  .gallery .inner #wrap article {
    width: calc(100% / 2); } }
@media screen and (max-width: 429px) {
  .gallery .inner #wrap article {
    width: calc(100% / 1); } }
.media .inner section::after {
  content: '';
  display: block;
  clear: both; }
.media .inner section article:not(:first-child) {
  width: 32%;
  float: left;
  margin-right: 2%;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden; }
  .media .inner section article:not(:first-child) a {
    display: block;
    width: 100%;
    height: 240px;
    overflow: hidden;
    background: #000; }
    .media .inner section article:not(:first-child) a img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s; }
  .media .inner section article:not(:first-child) .con {
    width: 100%;
    height: 144px;
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.5s; }
    .media .inner section article:not(:first-child) .con .title {
      font: 700 15px/1 'Catamaran','Noto Sans KR';
      color: #fff;
      margin-bottom: 15px; }
    .media .inner section article:not(:first-child) .con p {
      font: 400 12px/1.2 'Catamaran','Noto Sans KR';
      color: #ccc; }
    .media .inner section article:not(:first-child) .con span {
      font: 400 11px/1.2 'Catamaran';
      color: #e841dc;
      position: absolute;
      bottom: 15px;
      left: 20px; }
  .media .inner section article:not(:first-child):hover a img {
    filter: grayscale(1); }
  .media .inner section article:not(:first-child):hover .con {
    top: 40%; }
  .media .inner section article:not(:first-child):nth-of-type(3n+4) {
    margin-right: 0%; }
.media .inner section article:first-child {
  width: 100%;
  float: left;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between; }
  .media .inner section article:first-child a {
    width: 50%;
    height: 360px;
    overflow: hidden; }
    .media .inner section article:first-child a img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.6); }
  .media .inner section article:first-child .con {
    width: 45%;
    height: 360px;
    position: relative; }
    .media .inner section article:first-child .con .title {
      font: 700 32px/1.4 'Catamaran','Noto Sans KR';
      color: #222;
      margin-bottom: 30px; }
    .media .inner section article:first-child .con p {
      font: 400 18px/1.6 'Catamaran','Noto Sans KR';
      color: #333; }
    .media .inner section article:first-child .con span {
      font: 500 16px/1.7 'Catamaran','Noto Sans KR';
      color: #e841dc;
      position: absolute;
      left: 0;
      bottom: 0; }

body {
  width: 100%;
  background: #f2edd7; }

/*# sourceMappingURL=style.css.map */
