.about {
    .inner {
        .intro {
            width: 100%;
            margin-bottom: 80px;
            position: relative;

            h3 { font: 500 18px/1 'Noto Sans KR'; color: #222; margin-bottom: 50px;}

            &::after{content: ''; display: block; clear: both;}

            .left {
                width: 50%;
                float: left;

                h4 {
                    font: 700 38px/1.4 'Catamaran'; color: #111;
                    margin-bottom: 20px;
                }
                p {
                    font: 400 16px/1.5 'Noto Sans KR'; color: #111;
                }
            }
            .right {
                width: 50%;
                float: right;
                padding: 0 50px;

                .wrap {
                    margin-bottom: 50px;

                    h4 {
                        font: bold 18px/1 'Catamaran'; color: #111;
                        margin-bottom: 18px;
                    }
                    p {
                        font: 300 15px/1.4 'Noto Sans KR'; color: #111;
                    }
                }
            }
        }

        .values {
            width: 100%;
            margin-bottom: 50px;

            h3 { font: 700 28px/1 'Catamaran'; color: #111; margin-bottom: 30px;}

            .wrap {
                width: 100%; height: 600px;
                display: flex;
                z-index: 1;

                article {
                    flex: 1;
                    padding: 70px 40px 100px;
                    opacity: 0.6;
                    transition: 1s;
                    position: relative;
                    z-index: 1;

                    .txt {
                        width: 100%; height: 100%;
                        border-top: 3px solid #e841dc;
                        transition: 0.5s;

                        span {
                            display: inline-block;
                            margin-top: 15px;
                            font: 500 15px/1.2 'Noto Sans KR'; color: #555;
                        }
                        h4 {
                            padding-top: 30px;
                            font: 500 1vw/1.1 'Catamaran'; color: #111; letter-spacing: 1px;
                            margin-bottom: 30px;
                            transition: 1s;
                        }
                        .subtitle {
                            font: 400 22px/1.4 'Noto Sans KR'; color: #111;
                            margin-bottom: 50px;
                            transition: 0.5s;
                        }
                        .arrow {
                            width: 32px; height: 3px;
                            background: #111;
                            position: relative;
                            transition: 0.5s;

                            &::after {
                                content: ''; display: block;
                                width: 14px; height: 3px;
                                background: #111;
                                position: absolute;
                                top: 0; right: 0;
                                transform: rotate(40deg);
                                transform-origin: right center;
                            }
                        }
                        p {
                            font: 300 15px/1.6 'Noto Sans KR'; color: #111;
                            display: none;
                            opacity: 0;
                            transition: 0.5s;
                        }
                    }

                    &::before {
                        content: ''; display: block;
                        width: 100%; height: 90%;
                        background: #fff;
                        z-index: -1;
                        position: absolute;
                        top: 150px; left: 0;
                        opacity: 0;
                        transition: 1s;
                    }

                    &:hover {
                        flex: 1.5;
                        opacity: 1;
                        z-index: 2;
                        .txt {
                            border-top: 3px solid #f05037;
                            h4 { font-size: 1.5vw; padding-top: 20px; margin-bottom: 22px;}
                            .subtitle { font-size: 18px; font-weight: 700; margin-bottom: 20px;}
                            .arrow { display: none;}
                            p { display: block; opacity: 1;}
                        }
                        &::before { top: 0px; opacity: 0.3;}
                    }
                }
            }
        }

        .department {
            width: 100%; min-height: 500px;

            .divi_tree {
                width: 100%;
                position: relative;

                li {
                    .ceo {
                        text-align: center;
                        position: relative;
                        top: 0; left: 50%; transform: translateX(-50%);

                        >p {
                            font: 500 16px/1 'Noto Sans KR'; color: #111;
                            margin-bottom: 5px;
                        }
                        >span {
                            font: 700 26px/1 'Noto Sans KR'; color: #111; letter-spacing: 1px;
                        }

                        &::after {
                            content: ''; display: block;
                            width: 2px; height: 40px;
                            position: absolute;
                            top: 70px; left: 50%; margin-left: -1px;
                            background: #111;
                        }
                    }
                    ul {
                        width: 100%;
                        margin-top: 90px;

                        &::after { content: ''; display: block; clear: both;}

                        li {
                            width: calc((100% - 40px) / 3);
                            margin: 0px 20px 20px 0px;
                            float: left;

                            .member {
                                width: 100%;
                                border: 1px solid #444;
                                padding: 25px 20px;

                                .wrap {
                                    width: 100%;
                                    padding-bottom: 15px;
                                    border-bottom: 1px solid #444;
                                    margin-bottom: 15px;

                                    &::after { content: ''; display: block; clear: both;}

                                    .name {
                                        display: block; float: left;
                                        font: 500 18px/1 'Noto Sans KR'; color: #111;
                                    }
                                    .depart {
                                        display: block; float: right;
                                        font: 300 15px/1 'Noto Sans KR'; color: #111;
                                    }
                                }
                                .num {
                                    display: inline-block;
                                    font: 300 15px/1 'Noto Sans KR'; color: #222;
                                    margin-bottom: 10px;
                                }
                                >p {
                                    font: 300 14px/1.5 'Noto Sans KR'; color: #222;
                                }
                            }

                            &:nth-of-type(3n){ margin: 0px 0px 20px;}
                        }
                    }
                }
            }
        }
    }
}