header {
    width: 100%; height: 90px;
    position: absolute;
    top: 0; left: 0;
    background: transparent;
    display: flex;
    justify-content: space-between; align-items: center;
    padding: 0px 4vw;
    
    h1 {
        font: 26px/1 'Abril Fatface'; color: #f05037;
        letter-spacing: 1px;
    }

    #gnb {
        display: flex;

        li {
            display: inline-block;
            position: relative;
            margin: 12px 40px;
            font: 700 18px/1 'Catamaran'; color: #111;
            transition: 0.5s;

            &:hover { color: #e841dc;}
            .active {
                &::after {
                    content: ''; display: block;
                    width: 100%; height: 3px;
                    background: #222;
                    position: absolute;
                    bottom: -6px; left: 0px;
                }
            }
        }
    }
}