#visual {
    width: 100%; height: 100vh; background: #ffcdd2;
    position: relative; overflow: hidden;

    section {
        width: 78vw; height: 72vh; 
        position: absolute; top: 150%; left: 50%; margin-top: calc(40vh - 36vh); margin-left: -39vw;
        transition: 1s;
        
        article {
            width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; 
        
            .inner {
                width: 100%; height: 100%;
                background: rgba(255,255,255,.6);
                box-shadow: 25px 25px 30px rgba($color: #000, $alpha: 0.25);
                position: relative;

                .pic {
                    width: 100%; height: 100%;
            
                    video { width: 100%; height: 100%; object-fit: cover;}

                    &::after {
                        content: ''; display: block;
                        width: 100%; height: 100%;
                        position: absolute; top: 0; left: 0;
                        opacity: 0.1;
                        background: #ffcdd2;
                    }
                }
            
                h2 {
                    position: absolute;
                    bottom: 60px; left: 80px;
                    font: 300 100px/1 'Catamaran'; color: #fff; letter-spacing: 1px;
                    text-shadow: 5px 5px 5px rgba(0,0,0,.2);
                }
            }
        }
    }

    .btnPrev {
        display: inline-block;
        font: 700 18px/1 'Catamaran'; color: #d6d064; letter-spacing: 1px;
        position: absolute; top: 50%; left: 5%;
        transform: translateY(-50%) rotate(90deg);
        cursor: pointer;
        background: #e841dc;
        padding: 3px 5px;
        box-shadow: 6px 4px 0px rgba($color: #cb90ed, $alpha: 1.0);
        transition: 0.5s;
        
        &:hover { color: #fff;}
    }
    .btnNext {
        display: inline-block;
        font: 700 18px/1 'Catamaran'; color: #d6d064; letter-spacing: 1px;
        position: absolute; top: 50%; right: 5%;
        transform: translateY(-50%) rotate(90deg);
        cursor: pointer;
        background: #e841dc;
        padding: 3px 5px;
        box-shadow: 6px 4px 0px rgba($color: #cb90ed, $alpha: 1.0);
        transition: 0.5s;

        &:hover { color: #fff;}
    }
}